:root {
    --header-height: 70px;
    --sidebar-bg-color: #051e34;
    --h-m-text: #165bba;
}


/*****************************************************************/
/**************************** Header *****************************/

header {
    width: 100%;
    height: var(--header-height);
}

header a {
    text-decoration: none;
}

header form {
    flex-grow: 1;
}

#logo {
    height: 40px;
}


/*****************************************************************/
/************************** Main Content *************************/

#sidebar {
    width: 200px;
    height: 100%;
    background-color: var(--sidebar-bg-color);
    background-image: url("../img/sidebar-bg.png");
}

#sidebar a:hover {
    background-color: rgba(215, 215, 215, 0.5);
}

.wrapper {
    height: calc(100vh - var(--header-height));
    margin-top: var(--header-height);
}

main {
    height: 100%;
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

aside h3 {
    display: inline-block;
}

.h-m-text {
    font-weight: lighter;
    padding: 5px 10px;
    border-radius: 30px;
    color: white;
    background-color: var(--h-m-text);
}

table img {
    width: 30px;
}


/*****************************************************************/
/************************** Media Queries ************************/


@media screen and (max-width: 768px) {

    aside>div>div {
        gap: 1.5rem;
    }
    
}


@media screen and (max-width: 992px) {

    .text-hide {
        display: none;
    }

    #faq {
        margin-bottom: 1rem;
    }

}