:root {
    --header-height: 60px;
    --sidebar-bg-color: #051e34;
    --h-m-text: #165bba;
}

header {
    width: 100%;
    height: var(--header-height);
}

#logo{
    height: 40px;
}

#sidebar {
    width: 200px;
    height: 100%;
    background-color: var(--sidebar-bg-color);
    background-image: url("../img/sidebar-bg.png");
}

.wrapper {
    height: calc(100vh - var(--header-height));
    margin-top: var(--header-height);
}

main {
    height: 100%;
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

aside h3 {
    display: inline-block;
}

header a {
    text-decoration: none;
}

header form {
    flex-grow: 1;
}

.h-m-text {
    font-weight: lighter;
    padding: 5px 10px;
    border-radius: 30px;
    color: white;
    background-color: var(--h-m-text);
}

table img {
    width: 30px;
}